{% extends "base.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ message }}</h1>
    <hr />
    <table>
        <tr><th>メンバー</th><th>グループ</th><th>編集</th><th>削除</th></tr>
        {% for group in groups %}
        <tr><td>{{ group.member.name }}({{ group.member.get_sex_display }}性)</td><td>{{ group.get_name_display }}</td><td><a href="{% url 'edit' group.member.id %}">Edit</a></td><td><a href="{% url 'delete' group.member.id %}">Delete</a></td></tr>
        {% endfor %}
    </table>
    <a href="{% url 'create' %}">くりえいとぺえじへ</a>
{% endblock %}